
      

  <div class="container" id="dishe" data-aos="fade-up"
  data-aos-duration="1500">
      <h1 class="text-center" id="chicken">Qurbani Animals</h1>
      <div class="row flex-wrap" style="margin-top: 50px;" data-aos="fade-up"
   data-aos-duration="3000">
          <div class="col-md-3 py-3 py-md-0">
              <div class="card">
                  <img src="./img/full.webp" alt="">
                  <div class="card-body">
                      <h3 class="text-center">Full COW</h3>
                      <div class="star text-center">
                        <i class="bx bxs-star checked"></i>
                        <i class="bx bxs-star checked"></i>
                        <i class="bx bxs-star checked"></i>
                        <i class="bx bxs-star checked"></i>
                        <i class="bx bxs-star checked"></i>
                      </div>
                      <h6>$100.50 <span></span></h6>
                  </div>
              </div>
          </div>
         
          <div class="col-md-3 py-3 py-md-0">
              <div class="card">
                  <img src="./img/share.png" alt="">
                  <div class="card-body">
                      <h3 class="text-center">COW 1 SHARE</h3>
                      <div class="star text-center">
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                      </div>
                      <h6>$50.50 <span><img src="./image/add.png" alt="" width="20px"></span></h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 py-3 py-md-0">
              <div class="card">
                  <img src="./img/goat.webp" alt="">
                  <div class="card-body">
                      <h3 class="text-center">GOAT</h3>
                      <div class="star text-center">
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                       <i class="bx bxs-star checked"></i>
                      </div>
                      <h6>$300.20 <span><img src="./image/add.png" alt="" width="20px"></span></h6>
                  </div>
              </div>
          </div>
       



      </div>






    

     





      
  </div>
